<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      </buildProviders>
    </compilation>
    <httpRuntime targetFramework="4.5" maxRequestLength="52428800"/>
    <customErrors mode="RemoteOnly"/>
    <httpHandlers>
      <add verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"   />
    </httpHandlers>
  </system.web>
  <connectionStrings>
   <!-- <add name="DocMgmtDBConnectionString" connectionString="Data Source=WIN-EGC6VEDMJUL;Initial Catalog=DocMgmtDB;User ID=sa;pwd=Pass123#" providerName="System.Data.SqlClient"/>-->
    <!--<add name="DocMgmtDBConnectionString" connectionString="Data Source=USER-PC\SQLEXPRESS;Initial Catalog=DocMgmtDB;Integrated Security=True" providerName="System.Data.SqlClient" />-->
   <add name="DocMgmtDBConnectionString" connectionString="Data Source=USER-PC\SQLEXPRESS;Initial Catalog=DocMgmtDB;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <add key="UserGroupID_Customer" value="CUSTOMER"/>
    <!--Registered Customer-->
    <add key="UserGroupID_Admin" value="ADMIN"/>
    <!-- Administrator-->
    <add key="UserGroupID_FAdmin" value="FADMIN"/>
    <!--Finance Admin-->
    <add key="UserGroupID_SAdmin" value="SADMIN"/>
    <!--Signature Admin-->
    <add key="UserGroupID_PAdmin" value="PADMIN"/>
    <!--Privilage Admin-->
    <add key="UserGroupID_CustomerAdmin" value="CADMIN"/>
    <!--Customer's Administrator-->
    <add key="CertificateExpire" value="180"/>
    <!--Certificate Valid Days-->
    <add key="GOLOBALTMP" value="template-5"/>
    <!--Certificate Template NCE-Digital CO for Orient Global-->
    <add key="MASSACTIVE" value="template-3"/>
    <!--Certificate Template NCE-Digital CO form for MASS Active-->
    <add key="NINDROTMP" value="template-4"/>
    <!--Certificate NCE CO Format For Nidro-->
    <add key="HSCODEHAS" value="template-2"/>
    <!--Certificate Template Which COLUMN Has HS CODE-->
    <add key="ROWWITHOUTHS" value="template-7"/>
    <!--Certificate Template ROW WITHOUT HSCODE-->
    <add key="ROWWITH_HS" value="template-6"/>
    <!--Certificate Template ROW WITHOUT HSCODE-->
    <add key="COLUMNWITHOUTHS" value="template-1"/>
    <!--Certificate Template COLUMN WITHOUT HSCODE-->
    <add key="COLUMNWITHOUTHS2" value="template-8"/>
    <!--Certificate Template COLUMN WITHOUT HSCODE for new Customer added 2017/4/27-->
    <add key="ExpiryDate" value="365"/>
    <add key="ApprovalRejectResonCategory" value="CUSTOMER"/>
    <!--Reject Reason Category For Customer/User Reject-->
    <!-- Must not change the length -->
    <add key="DecKey" value="EncDecabc1234tIISKey"/>
    <add key="ErroLogPath" value="E:\\NCE_ErrorLog\\"/>
    <add key="CustomeRequestrApprove" value="New Customer Created.You Can Access Our Web Service."/>
    <!--Customer Approval msg-->
    <add key="CustomeRequestrReject" value="Sorry...! Your request for the registration of NCE DCO System has been rejected by the NCE System Admin due to "/>
    <!--Customer Reject msg-->
    <add key="UserRequestrApprove" value="New Customer Created.You Can Access Our Web Service."/>
    <!--User Approval msg-->
    <add key="UserRequestrReject" value="Sorry...!Rejected your User request You Can Request Again"/>
    <!--user Reject msg-->
    <add key="CertificateRateId" value="Rate-03"/>
    <!--Certificate Rate Id-->
    <add key="SupDocCertificateRateId" value="SDID0"/>
    <!--certificate Rate Supporting Document Id-->
    <add key="InvoiceRateId" value="Rate-05"/>
    <!--Invoice Rate Id-->
    <add key="SupdocInvoiceRateId" value="SDID1"/>
    <!--Invoice Rate Id-->
    <add key="OtherRateId" value="Rate-04"/>
    <!--OtherRateId Rate Id-->
    <add key="SupdocOtherRateId" value="SDID2"/>
    <!--Invoice Rate Id-->
    <add key="EmailHost" value="smtp.gmail.com"/>
    <!--Host for Sending Email by Admin-->
    <add key="EmailPort" value="587"/>
    <!--Port for Sending Email by Admin-->
    <add key="AdminEmailAddress" value="votrevc@gmail.com"/>
    <!--Admin Email Address-->
    <add key="VatCode" value="VAT"/>
    <!--Deactivate Vat for IsVat Customer-->

    <add key="MaxDateForCertificateCancel" value="14"/>
    <!--Max Date For Cancle Cretificate-->
    <add key="CertificateLOGO" value="~/img/NCELOGO.PNG"/>
    <add key="CertificateSEAL" value="~/img/NCE_new.png"/>
    <add key="SigningReason" value="This Document has been Authenticated by NCE. Please visit http://www.ncesrilanka.com/dcoauth to view the relevant fields those confirm the authentication"/>

    <add key="Person1Email" value="ict@nce.lk"/>
    <!--Customer registration request – email alerts to Person1 defined emails at NCE end (Date Added 12/8/2016 )-->
    <add key="Person2Email" value="it@nce.lk"/>
    <!--Customer registration request – email alerts to Person1 defined emails at NCE end (Date Added 12/8/2016 )-->
    <add key="HostAddress" value="http://220.247.222.114"/>
    <add key="SAdminEmailAddress" value="itncesl@gmail.com"/>

    <add key="DocumentCancelationCategory" value="DocCancel"/>
    <!--Certificate and Document Cancelation Remark Category-->

    <!--Support Document Seal Img Config-->
    <add key="Seal_AbsolutePosition_X" value="280"/>
    <add key="Seal_AbsolutePosition_Y" value="0"/>
    <add key="Seal_ScaleAbsolute_W" value="150"/>
    <add key="Seal_ScaleAbsolute_H" value="155.25"/>
    <!--Support Document Seal Img Config-->
  </appSettings>
  <system.webServer>
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
</configuration>